#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

#home {
	margin: 1rem;
}

/* Navbar */
ul {
	padding: 0;
	margin: 0;
}

li {
	marker: none;
	display: inline;
	padding: 0.5em;
}

hr {
	width: 90vw;
}

/* About Section */
#profile-container {
	justify-self: center;
	display: flex;
	align-items: center;
	max-width: 80vw;
	/* background-color: chocolate; */
}

#profile-picture {
	height: 500px;
	border-radius: 10%;
}

#profile-text-bloc {

	/* background-color: green; */
}

#profile-text {
	padding-left: 10%;
	padding-right: 10%;
}

#name {
	margin: 0;
	font-size: 400%;
}

/* Project Section */
#projects-container {
	display: flex;	
	justify-content: center;
	background-color: red;
}

#project-title-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex-grow: 1;
}

.project-title {
	background-color: green; 
}

.project-title:hover {
	background-color: yellow;
}

#project-info {
	flex-grow: 2;
	background-color: blue;
}

#project-image {
	height: 300px;
}

/* Contact Section */
#contact-container {
	display: flex;
	justify-content: center;
	justify-content: space-evenly;
	align-items: center;
}

table > tr > td.icon {
	text-align: left;
	width: 40px;
}

table > tr > td.text {
	text-align: left;
	width: 200px;
	height: 50px;
}

.contact-icon {
	width: 2rem;
}

#table-container > h2 {
	margin-bottom: 10px;
	margin-top: 10px;
}

#picture2 {
	width: 400px;
	border-radius: 10%;
}
